/* Ensure the body or main container allows for natural document flow and scrolling */
body, html {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.splash-screen {
  /* Set the height of the splash screen */
  height: 100vh; /* Adjust as needed */

  /* Center the content horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Apply additional styles as needed */
  background-color: #ffffff; /* Background color of the splash screen */
}

.splash-content {
  /* Set the maximum width of the splash content */
  max-width: 800px; /* Adjust as needed */

  /* Center the content horizontally */
  text-align: left;

  /* Apply additional styles as needed */
  padding: 0 80px; /* Add padding to the content */
}

.splash-text {
  /* Apply additional styles as needed */
  font-family: Arial, sans-serif; /* Specify the font family */
  font-size: 18px; /* Adjust as needed */
  line-height: 1.6; /* Adjust as needed */
  width: 100%; /* Ensure the text takes full width */
}

.splash-image {
  /* Set the size of the GIF image */
  width: 200px; /* Adjust as needed */
  height: auto;

  /* Apply additional styles as needed */
  margin-bottom: 20px; /* Add space below the image */
  display: block; /* Center the image horizontally */
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
}

.italicText {
  color: #e74c3c; /* Example: A contrasting red */
  font-style: italic;
}

@keyframes ticker {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.video-menu {
  display: flex;
  white-space: nowrap;
  animation: ticker 90s linear infinite;
  min-height: 60px;
}

.video-menu-item {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  white-space: nowrap;
  display: inline-block; /* Ensures items are laid out inline */
}

.video-menu-item:hover {
  background-color: #e0e0e0;
}

.video-menu div {
  cursor: pointer;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.video-menu div:hover {
  background-color: #e0e0e0; /* Highlight on hover */
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
  margin: auto;
}

video {
  width: 100%;
  height: auto;
  opacity: 0; /* Start with hidden videos to see the fade-in effect */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for the fade-in */
  border-radius: 5px;
}

.fade-in {
  opacity: 1; /* Full visibility */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.video-info {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Adjusted to cover viewport exactly */
  height: 100%; /* Adjusted to cover viewport exactly */
  overflow-y: hidden; /* Enable scrolling on the modal */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  padding-top: 0; /* Removed padding-top to use align-items for centering */
}

*, *::before, *::after {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  position: relative; /* Ensure modal content is positioned relative to its container */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Optional: Add shadow for better visibility */
  text-align: center;
  margin: auto; /* Centered vertically and horizontally */
  overflow-y: auto; /* Enable scrolling within the modal content */
  max-height: 80vh; /* Adjusted for mobile responsiveness */
}

.modal-content a {
  color: blue; /* Sets the link color to blue */
  text-decoration: none; /* Optional: Removes the underline from links */
}

.modal-content a:hover,
.modal-content a:focus {
  color: darkblue; /* Darker blue on hover/focus for better visibility and interactivity */
  text-decoration: underline; /* Optional: Adds underline on hover/focus for clarity */
}

.embed-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden; /* Ensures no overflow from the container */
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Removes the border around iframe */
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #aaaaaa;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.body-lock {
 overflow: hidden !important;
}

/* Default video styling with dimmed opacity */
video {
  opacity: 0.5; /* Dimmed to 50% opacity by default */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity changes */
}

/* Change video opacity to full on hover */
video:hover {
  opacity: 1; /* Full opacity on hover */
}

/* Mobile styles */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr); /* Adjust grid to fit three videos per row on mobile */
  }
}