/* Ensure the body or main container allows for natural document flow and scrolling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

html, body {
  height: 100%;
  background-color: #000;
  color: #ffffff;
  overflow: hidden;
}

.loading {
  display: flex;
  flex-direction: column;  /* Stacks children elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #565656;
}

.loading p {
  margin-bottom: 25px;  /* Adds space between the text and the image */
}

.cube-container {
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  backdrop-filter: blur(5px); /* Blurring the background */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  color: #ffffff;
  z-index: 1000;
  transition: color 0.3s ease;
}

.hamburger-button:hover {
  color: #7e7e7e;
}

.header-menu {
  position: fixed;
  top: 100px; /* Adjust according to the height of the hamburger button */
  left: 10px; /* Space from the left edge of the viewport */
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: flex-start; /* Aligns items to the left */
  max-height: 100vh; /* Prevents the menu from exceeding the viewport height */
  overflow-y: auto; /* Enables vertical scrolling if necessary */
  padding: 10px; /* Padding to ensure items aren't too close to the edges */
}

.header-menu button {
  display: flex;
  align-items: center; /* Ensures vertical centering of all elements */
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 16px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease; /* Smooth transitions for background and transform */
}

.header-menu button:hover {
  transform: translateY(-2px); /* Slight raise effect on hover */
}

.header-menu button:hover .video-name {
  font-size: 26px; /* Slightly larger font size on hover */
  font-weight: bold;
}

.video-item {
  display: flex;
  align-items: center; /* Keeps all content aligned in the center */
  width: 100%;
}

.video-name {
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  flex-grow: 0;
  transition: font-size 0.3s, font-weight 0.3s ease-in-out; 
}

.separator {
  font-size: 24px;
  color: #ccc;
  margin: 0 10px;
}

.video-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: #ccc;
}

.video-month,
.video-year {
  line-height: 1;
}

.question-mark-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 50px;
  font-weight: bold;
  border: none;
  background: none; /* Transparent background */
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1500;
  transition: color 0.3s, font-weight 0.3s ease-in-out; /* Smooth transition for font-weight */
}

.question-mark-button:hover {
  color: #7e7e7e;
}

.app-container {
  position: relative;
  min-height: 100vh;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #000;
  margin: auto; /* Horizontally center the modal */
  overflow: auto; /* Add scroll for overflow content */
  width: 55%; /* Adjust this value as needed */
  max-width: 800px; /* Set a max-width if necessary */
}

.headline {
  font-weight: bold;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 2050;
}

.modal {
  position: relative;
  width: 90%; /* Responsive width */
  max-width: 800px; /* Max width for desktop */
  height: 100vh;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 2051;
  padding: 80px 20px 20px 20px; /* Increased top padding to accommodate close button */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

@media (max-width: 768px) {
  .hamburger-button {
    left: 15px;
    top: 15px;
  }

  .video-name {
    font-size: 20px; /* Fixed font size on mobile */
  }

  .separator {
    font-size: 20px;
    color: #ccc;
    margin: 0 5px;
  }

  .header-menu button:hover .video-name {
    font-size: 20px; /* Keep font size consistent on hover for mobile */
  }

  .question-mark-button {
    right: 15px;
    bottom: 15px;
  }

  .video-name {
    font-size: 18px;
  }

  .about-modal {
    width: 95%; /* Nearly full width on very small devices */
    padding: 10px; /* Reduce padding to save space */
  }

  .modal {
    width: 100%; /* Full width on smaller screens */
    max-width: none; /* No maximum width */
    padding: 70px 0px; /* Further reduced padding on very small screens */
  }
}

.embed-container {
  width: 100%; /* Ensures the video container takes up the full width of the modal */
  padding-top: 56.25%; /* 16:9 Aspect Ratio, calculates height based on the width */
  position: relative; /* Allows absolute positioning for the iframe */
  background: #000; /* Background color in case the iframe has issues */
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container, maintained by padding-top in the container */
  border: none;
}

.text-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 120px;  /* Ensure this is sufficient to scroll out of the gradient */
  color: #fff;

  /* Styles for the scrollbar */
  scrollbar-width: thin;  /* For Firefox */
  scrollbar-color: #aaa transparent;  /* For Firefox: thumb and track color */
  /* Styles for Webkit (Chrome, Edge, Safari) */
  &::-webkit-scrollbar {
    width: 4px;  /* Adjust the width of the scrollbar here */
  }
  &::-webkit-scrollbar-track {
    background: transparent;  /* Makes the track background transparent */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;  /* Grey color for the scrollbar thumb */
    border-radius: 4px;  /* Optional: adds rounded corners to the scrollbar thumb */
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #888;  /* Darker color on hover for better interaction visibility */
  }
}

.text-container a, .text-container a:visited {
  color: #4e74ff; /* Change #ffffff to whatever color you prefer for the links */
  text-decoration: none; /* Optional: removes underline from links */
}

.text-container a:hover, .text-container a:focus {
  text-decoration: underline; /* Optional: adds underline on hover/focus for better UX */
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;  /* Ensure this matches the extra padding added to the bottom of the text-container */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  pointer-events: none;
  z-index: 1500;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px; /* Fixed position from the top right of the modal */
  font-size: 45px;
  color: #ccc;
  cursor: pointer;
}

.close:hover {
  color: #888;
}